# GCS譜面データバケットのベースURL
# 重要: 末尾にスラッシュ(/)を含めないこと
# フォーマット: https://storage.googleapis.com/{バケット名}
# 例: https://storage.googleapis.com/sheet-storage-stg
VITE_BEATMAP_DATA_BUCKET_URL=
# E2Eで使用するアカウントのユーザー名
VITE_USER_NAME=
# E2Eで使用するアカウントのパスワード
VITE_USER_PASSWORD=
